@import url('https://fonts.googleapis.com/css?family=Codystar|Noto+Sans+KR');

/* .App {
  text-align: center;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

* {
  font-family: 'Codystar', cursive;
  text-align: center;
  background-color: #AE86E8;
  }

  header {
    letter-spacing: .7em;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.7em;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    padding-top: .5em;
    padding-bottom: .5em;
  }
  
  .loginForm {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .loginInput {
    font-size: 18px;
    padding: 35px;
    border: none;
    background: #fff;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .wordInput {
    background: #fff;
    width:86%;
    font-size: 13px;
    padding: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    border-radius: 10px;
    color: #666;
  }

  .monikerStyle {
    margin-top: .6em;
    font-size: .6em;
    letter-spacing: .4em;
    text-transform: uppercase;
    display: block;
    color: #fafafa;
    font-family: 'Noto Sans KR', sans-serif;
  }
