@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700');

* {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #663047;
  }

  header {
    letter-spacing: .7em;
    padding-top: 2.5em;
    padding-bottom: 4em;
    color: #fff;
  }

  header img {
    width: 50%;
    margin-bottom: 2em;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: .05em;
    line-height: 1.7em;
    margin-bottom: 2.8em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    padding-top: .5em;
    padding-bottom: .5em;
  }
  
  .loginForm {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .loginInput {
    font-size: 1.1em;
    padding: 2em;
    border: none;
    background: #fff;
    border-radius: .7em;
  }

  .loginError {
    color: #fafafa;
    font-size: .8em;
    margin-top: 1.3em;
  }

  .wordInput {
    background: #fff;
    width:85%;
    font-size: 1.1em;
    padding: 1.5em;
    border: none;
    border-radius: .7em;
    color: #666;
    margin-bottom: 3em;
  }

  .monikerStyle {
    margin-top: .6em;
    font-size: .5em;
    font-weight: 500;
    letter-spacing: .4em;
    text-transform: uppercase;
    display: block;
    color: #fafafa;
  }
